/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07 13, 17, 3:27:33 PM
    Author     : s326lab
*/
@import url("https://fonts.googleapis.com/css?family=Lato");
h1 {
  text-align: center;
  font-style:"Lato";
}

div.three {
  position: relative;
  margin-left: 5%;
  width:50%;
  margin-top: 15px;
  font-style:"Lato";
}

div.yes {
  position: relative;
  margin-left: 10%;
  width: 150%
  font-style:"Lato";
}

div.title {
  position: relative;
  margin-left: 10%;
  width: 150%;
  font-style:"Lato";
}

div.dash {
    border-style: inset;
    width: 150%;
    margin-top: 30px;
    font-size: 25px;

}

p.dash {
    font-size: 20px;
    color: black;
    font-style:"Lato";
}

p.date {
    font-size: 12px;
    color: red;
    font-style:"Lato";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-style:"Lato";
    background-color: gray;
}

li {
    float: left;
    font-style:"Lato";
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-style:"Lato";
}

li a:hover {
    background-color: #111;
    font-style:"Lato";
}

.active {
    background-color: #4CAF50;
    font-style:"Lato";
}

button {
    background-color: #008CBA;
    font-style:"Lato";
}

input.first {
    width:100%;
    height: 40px;
    font-style:"Lato";
}

button.first {
    width:30%;
    height: 45px;
    float: right;
    font-style:"Lato";
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    font-style:"Lato";
}